// a section of form elements indented between radio button options with a left border connecting the radio buttons
.radio-section {
  margin-left: $spv--small;
  padding-left: $spv--medium;
  border-left: $border;
}
