.p-login {
  align-items: center;
  background-color: rgb(255 255 255 / 75%);
  display: flex;
  height: 100vh;
  left: 0;
  place-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999;

  &__inner {
    width: 20rem;

    .p-button--positive {
      margin: 0 auto;
      width: 100%;
    }
  }

  // A modified version of the navigation logo:
  // https://github.com/canonical/vanilla-framework/blob/fe40c9d38febd159a280b8f70713e02598a3a3d2/scss/_patterns_navigation.scss#L314
  .p-login__tagged-logo {
    display: flex; // to prevent logo link from expanding full width
    margin-right: 0;

    @media (min-width: $breakpoint-navigation-threshold) {
      min-width: 13rem;
    }

    .p-login__logo-tag {
      background-color: $color-ubuntu;
      height: $navigation-logo-tag-height;
      left: 0;
      position: absolute;
      top: 0;
      width: $navigation-logo-tag-width;

      @media (min-width: $breakpoint-navigation-threshold) {
        height: $navigation-logo-tag-height-desktop;
      }
    }

    .p-login__logo-icon {
      bottom: $spv-navigation-logo-bottom-position;
      height: $navigation-logo-size;
      left: 50%;
      position: absolute;
      transform: translate(-50%, 0);
      width: $navigation-logo-size;
    }

    .p-login__logo-title {
      color: $colors--theme--text-default;
      font-size: 1.3rem;
      font-weight: 300;
      line-height: $navigation-logo-size;
    }

    .p-login__logo-container {
      @extend %navigation-link;

      // within logo we don't need a regular item padding
      @extend %vf-reset-horizontal-padding;

      padding-left: $navigation-logo-padding;

      &:hover {
        background-color: transparent !important;
      }

      &::before {
        content: none;
      }
    }
  }
}
