run-name: Build steps for ${{ github.sha }} on ${{ github.ref_name }}


on:
  workflow_call:
    outputs:
      rock:
        description: "rock image"
        value: ${{ jobs.build.outputs.rock }}

jobs:
  build:
    runs-on: ubuntu-24.04
    outputs:
      rock: ${{ steps.set.outputs.rock }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

    - uses: canonical/craft-actions/rockcraft-pack@main
      id: rockcraft
    - name: Set rock output
      id: set
      run: echo "rock=${{ steps.rockcraft.outputs.rock }}" >> "$GITHUB_OUTPUT"

    - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
      with:
        path: ${{ steps.rockcraft.outputs.rock }}
        name: ${{ steps.rockcraft.outputs.rock }}

    - name: Install Syft
      run: |
        curl -sSfL https://raw.githubusercontent.com/anchore/syft/main/install.sh | sh -s -- -b /usr/local/bin
    - name: Create SBOM
      run: syft $(realpath ${{ steps.rockcraft.outputs.rock }}) -o spdx-json=identity_platform_admin_ui.sbom.json

    - name: Upload SBOM
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
      with:
        name: identity-platform-admin-ui-sbom
        path: "identity_platform_admin_ui.sbom.json"

