# workflow for checking package versions and opening PRs to bump
name: Renovate
on:
  workflow_dispatch:
  workflow_call:

jobs:
  renovate:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v38.1.0
        with:
          configurationFile: renovate-config.js
          token: ${{ secrets.PAT_TOKEN }}
        env:
          LOG_LEVEL: 'debug'
